
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ERROR</title>
		<meta name="description" content="The HTML5 Template">
		<meta name="author" content="Joe Bloggs">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
		<div class="nav">
		<div>
			<a href="/"><img src="/logo/logo3.png" width="82" height="86" class="logo"></a>
		</div>
		<div class="menu">
		<ul>
		<li class="myprofile"><a href="/">My Music</a></li>
		<li class="uploadmusic"><a href="/upload">Upload Music</a></li>
		<li class="playlist"><a href="/playlist">Add Playlist</a></li>
		<li class="allplaylists"><a href="/allPlaylists">Online Playlists</a></li>
		<li class="logout"><a href="/logout">Logout</a></li>
		</ul>
		</div>
		</div>
		</header>
        <h1>An Error Has Occurred</h1>
        <h2>{{message}}</h2>
	</body>
</html>